@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto');

/* * {
  border: 1px solid yellow;
} */

body {
    margin:0;
    font-family: 'Roboto'
}

.container {
  background: #27262e;
  color:#e5e0cc;
}

.main-clock{
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-family: 'Orbitron';
  font-size: 2.3em;
}

.form-obj{
  padding: 10px;
}


/* *****************POPUP***************** */
.container-popup{
  position: relative;
  color: white;
  font-family: Orbitron;
  display: inline-block;
}

.container-popup .dataInfo{
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding-left: 5px;
  /* padding: 5px; */
  width: 235px;
  background: rgba(0,0,0,0.6);
  cursor: move;
  -webkit-app-region: drag;
}

.container-popup a{
  position: absolute;
  display: inline-block;
  z-index: 100;
  width: 21px;
  height: 21px;
  margin: 2px;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 20px;
  background: rgba(255,0,0,0.5);
  color: white;
  text-decoration: none;
}










/* svetlo plava za dugme
#38a7e1

zelena
#49c398

crvena
#f42b56 */
