@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto');

/* * {
  border: 1px solid yellow;
} */

body {
  margin:0;
  font-family: 'Roboto';
  background: #27262e;
  color:#e5e0cc;
}

.container {

}

.main-clock{
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-family: 'Orbitron';
  font-size: 2.3em;
}

.form-obj{
  padding: 10px;
}

/* DONTIONS  */
.donations-container {
  margin: 20px;
}

.donations-container a{
  color: white;
}

.donate-address{
  line-height : 30px;
}

/* ABOUT */
.about-container{
  margin: 20px;
}

.about-container a{
  color: white;
}

/* svetlo plava za dugme
#38a7e1

zelena
#49c398

crvena
#f42b56 */
