@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto');

body {
  margin:0;
  padding: 0;
  -webkit-app-region: drag;
  
}


#container-popup {
  font-family: Orbitron;
  color: white;
  font-size: 0.8em;
  
}

#datainfo {
  display: inline-block;
  padding: 0 10px;
  background-color: rgba(0,0,0,0.6);
  cursor: move;
  height: 25px;
  line-height: 25px;
}

#linkclose {
  -webkit-app-region: no-drag;
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  background-color: rgba(255,0,0,0.5);
  cursor: pointer;
  text-align: center;
}

